{% extends "layout.twig" %}

{% block content %}

    <h2 class="text-center">Filtres</h2>
    <form action="" method="POST">
        <div class="d-flex flex-row align-items-center justify-content-around card" style="padding:10px 5px 10px 5px; margin-bottom: 60px">
            <button type="submit" class="btn btn-primary">Filtrer</button>
            <div class="form-check">
                <input class="form-check-input" name="new" type="checkbox" value="{{ today }}" id="new" {% if new %} checked {% endif %}>
                <label class="form-check-label" for="nouveau">
                Nouveau
                </label>
                <span title="Nouveaux commentaires" class="badge rounded-pill bg-primary">
                    {{ comments_new }}
                </span>
            </div>
            <div class="form-check">
                <input class="form-check-input" name='statut_valide' type="checkbox" value="valider" id="valide" {% if statut_valide %} checked {% endif %}>
                <label class="form-check-label" for="valide">
                Validé
                </label>
                <span title="Commentaires validés" class="badge rounded-pill bg-success">
                    {{ comments_valider }}
                </span>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="statut_refuse" type="checkbox" value="refuser" id="refuse" {% if statut_refuse %} checked {% endif %}>
                <label class="form-check-label" for="refuse">
                Refusé
                </label>
                <span title="Commentaires refusés" class="badge rounded-pill bg-danger">
                    {{ comments_refuser }}
                </span>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="statut_en_attente" type="checkbox" value="en_attente" id="attente" {% if statut_en_attente %} checked {% endif %}>
                <label class="form-check-label" for="attente">
                En attente
                </label>
                <span title="Commentaires en attentes" class="badge rounded-pill bg-warning">
                    {{ comments_en_attente }}
                </span>
            </div>
        </div>
    </form>
{% if comments %}
    <!-- Posts -->
    <div>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th style="width:150px"></th>
                    <th>Utilisateur</th>
                    <th>Titre de l'article</th>
                    <th>Commentaire</th>
                    <th>Date d'ajout</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody class="text-break">
                {% for comment in comments %}
                <tr class="table-active text-center">
                    <td>
                        <a title="Valider le commentaire" href="/admin/comments/{{ page }}/?valide={{ comment.comment_id }}" class="btn btn-lg" tabindex="-1" role="button" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#52BE80" class="bi bi-patch-check-fill btn-accept" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                            </svg>
                        </a>
                        <a title="Refuser le commentaire" href="/admin/comments/{{ page }}?refuse={{ comment.comment_id }}" class="btn btn-lg" tabindex="-1" role="button" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#EC7063" class="bi bi-patch-plus-fill btn-refus" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </td>
                    <td>{{ comment.pseudo }}</td>
                    <td>{{ comment.title_post }}</td>
                    <td style="max-width: 300px">{{ comment.content|raw }}</td>
                    <td>{{ comment.date_add }}</td>
                    <td style='color:{{ comment.color_statut }}; font-weight:600;'>
                        {{ comment.statut }}
                        {% if comment.new %}
                        <span title="Nouveau commentaire" class="badge rounded-pill bg-primary" style="font-size:0.7em">
                            New
                        </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- paging -->
    {% if not errors %}
    <nav aria-label="navigation pagination" style='margin-top:100px'>
    <ul class="pagination justify-content-center">
        <li class="page-item {{ pagination_before }}">
        <a class="page-link" href="/admin/comments/{{ page - 1}}">Précédent</a>
        </li>
        {% for page in 1 .. nbrs_page %}
        <li class="page-item">
            <a class="page-link" href="/admin/comments/{{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ pagination_next }}">
        <a class="page-link" href="/admin/comments/{{ page + 1 }}">Suivant</a>
        </li>
    </ul>
    </nav>
    {% endif %}
{% endif %}
{% endblock content %}