{% extends "/twig-template/layout.twig" %}

{% block content %}

<div class='d-flex flex-row justify-content-around flex-wrap align-items-start'>
    <div class="card m-5" style="width: 17rem;">
        <img src="/images/comments.jpg" class="card-img-top" alt="social, commentaires">
        <div class="card-body">
          <h5 class="card-title">Les commentaires</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-color='#AED581'>
            <div class="text-nowrap">
                En attente aujourd'hui
            </div>
            <form action="/admin/comments/1" method="POST">
                <input type="hidden" name="newPosts" value="{{ today }}">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters border-0" style="background-color:#AED581">
                    <div class="float-start">
                        {{ count_comments.new }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#4FC3F7'>
            <div>
                Total
            </div>
            <form action="/admin/comments/1" method="POST">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#4FC3F7">
                    <div class="float-start">
                        {{ count_comments.total }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#FFB74D'>
            <div>
                En attente
            </div>
            <form action="/admin/comments/1" method="POST">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#FFB74D">
                    <div class="float-start">
                        {{ count_comments.waiting }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#EF5350'>
            <div>
                Refusés
            </div>
            <form action="/admin/comments/1" method="POST">
                <input type="hidden" name="statut_refuse" value="refuser">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#EF5350">
                    <div class="float-start">
                        {{ count_comments.refus }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#BA68C8'>
            <div>
                Acceptés
            </div>
            <form action="/admin/comments/1" method="POST">
                <input type="hidden" name="statut_accept" value="valider">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#BA68C8">
                    <div class="float-start">
                        {{ count_comments.accept }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
        </ul>
    </div>
    
    <div class="card m-5" style="width: 20rem;">
        <img src="/images/account.jpg" class="card-img-top" alt="social, commentaires">
        <div class="card-body">
          <h5 class="card-title">Les comptes</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-color='#AED581'>
            <div class="text-nowrap">
                Demande aujourd'hui
            </div>
            <form action="/admin/accounts/1" method="POST">
                <input type="hidden" name="new" value="{{ today }}">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#AED581">
                    <div class="float-start">
                        {{ count_users.new }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#4FC3F7'>
            <div>
                Total
            </div>
            <form action="/admin/accounts/1" method="POST">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#4FC3F7">
                    <div class="float-start">
                        {{ count_users.total }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#FFB74D'>
            <div>
                En attente
            </div>
            <form action="/admin/accounts/1" method="POST">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#FFB74D">
                    <div class="float-start">
                        {{ count_users.waiting }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#EF5350'>
            <div>
                Refusés
            </div>
            <form action="/admin/accounts/1" method="POST">
                <input type="hidden" name="statut_refuse" value="refuser">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#EF5350">
                    <div class="float-start">
                        {{ count_users.refus }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#BA68C8'>
            <div>
                Acceptés
            </div>
            <form action="/admin/accounts/1" method="POST">
                <input type="hidden" name="statut_accept" value="valider">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#BA68C8">
                    <div class="float-start">
                        {{ count_users.accept }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
        </ul>
    </div>
    
    
    <div class="card m-5" style="width: 20rem;">
        <img src="/images/posts.jpg" class="card-img-top" alt="social, commentaires">
        <div class="card-body">
          <h5 class="card-title">Les Articles</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-color='#AED581'>
            <div>
                Nouveaux aujourd'hui
            </div>
            <form action="/admin/posts/1" method="POST">
                <input type="hidden" name="new" value="{{ today }}">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="border-0 btn position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#AED581">
                    <div class="float-start">
                        {{ count_posts.new }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#4FC3F7'>
            <div>
                total
            </div>
            <form action="/admin/posts/1" method="POST">
                <button class="btn border-0 position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#4FC3F7">
                    <div class="float-start">
                        {{ count_posts.total }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#EF5350'>
            <div>
                Non publiés
            </div>
            <form action="/admin/posts/1" method="POST">
                <input type="hidden" name="statut_en_attente" value="en_attente">
                <button class="btn border-0 position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#EF5350">
                    <div class="float-start">
                        {{ count_posts.waiting }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
          <li class="list-group-item" data-color='#BA68C8'>
            <div>
                Publiés
            </div>
            <form action="/admin/posts/1" method="POST">
                <input type="hidden" name="statut_publier" value="publier">
                <button class="btn border-0 position-absolute bottom-0 start-100 translate-middle badge rounded-pill btn-home-filters" style="background-color:#BA68C8">
                    <div class="float-start">
                        {{ count_posts.publish }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-bar-right float-end svg-link" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                    </svg>
                </button>
            </form>
          </li>
        </ul>
    </div>
</div>

{% block javascripts %}
<script type="text/javascript">
    $('.svg-link').hide();
    $(document).ready(function() {
        $('.btn-home-filters').on('mouseenter', function() {
            $(this).addClass('btn-stretch');
            var color = $(this).parent().data('color');
            if (typeof color == 'undefined') {
                color = '#F5F5F5';
            }
            $(this).parent().css('background', 'linear-gradient(to left, '+ color+', white)');
            $(this).children('svg').show();
        })
        $('.btn-home-filters').on('mouseleave', function() {
            $(this).removeClass('btn-stretch');
            $(this).parent().css('background', '');
            $('.svg-link').hide();
        })
    });
</script>
{% endblock %}
{% endblock content %}
