{% extends "layout.twig" %}

{% block content %}

<div>
  <h1 class='text-center border-bottom' style="margin: 100px 0 100px 0">Mes articles postés</h1>
</div>

<div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4'>
    {% for post in posts %}
    <div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="{{ post.path_img }}" class="img-fluid rounded-start" alt="...">
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">{{ post.titre }}</h5>
                    <p class="card-text text-muted">{{ post.chapo }}</p>
                    <p class="card-text"><small>{{ post.content }}</small></p>
                    <div class='d-flex justify-content-end'>
                      <a href="/post/id/{{ post.post_id }}" class="btn btn-primary align-right">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="navigation pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ pagination_before }}">
      <a class="page-link" href="/posts/{{ page - 1}}">Précédent</a>
    </li>
    {% for page in 1 .. nbrs_page %}
      <li class="page-item"><a class="page-link" href="/posts/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li class="page-item {{ pagination_next }}">
      <a class="page-link" href="/posts/{{ page + 1 }}">Suivant</a>
    </li>
  </ul>
</nav>

{% endblock content %}